* {
  margin: 0;
  padding: 0;
  /* border: 1px solid black; */
}
body {
  box-sizing: border-box;
  width: 100%;
  margin: auto;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.nav {
  color: #4169e1;
  background-color: white;
  width: 100%;
  position: sticky;
  top: 0;
  font-weight: 700;
  border-bottom: 5px solid #4169e1;
}
nav {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 90%;
  padding: 20px;
}
ul {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
nav ul li:hover{ 
   color: #4169e1;
}
.intro {
  background-color: #4169e14e;
  width: 100vw;
  /* height: 30vh; */
  padding: 50px 0;
  margin-top: 10px;
}
.intro div {
  width: 90%;
  margin: auto;
}
.title {
 
  text-align: center;
  font-size: 3rem;
  font-weight: 800;
  color: #4169e1;
}
.section {
  width: 100vw;
  height: 100vh;
  /* border-bottom: 5px solid #4169E1; */
}
.about {
  display: flex;
  width: 90%;
  margin: 50px auto;
}
.about div {
  width: 50%;
  padding: 20px;
}
.about-image {
  border-right: 5px solid #4169e1;
}
.about-me { 
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.resume {
  display: inline-block;
  border: 2px solid white;
  border-radius: 5px;
  margin-top: 20px;
  padding: 15px 30px;
  background-color: #4169e1;
  color: white;
}
.skills-section{
  width: 90%;
  display: grid;
  grid-template-columns: repeat(5 , 1fr);
  margin: auto;
  gap: 30px;
  text-align: center;
}
.skills-section div{
  /* border: 2px solid red ; */
  /* border-radius: 30px; */
  padding: 10px;
  margin: 20px ;
  /* color: #4169e1; */
  font-weight: 800;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}
.skills-section img{
  width: 50%;
  display: block;
  margin: auto;
  padding: 30px 20px;
}
#skills{
  margin: 30px auto;
}

.skills-section div:hover{
  box-shadow: #4169e1 0px 5px 15px;
  transform: scale(1.1);
}

.project-section{
  width: 90%;
  margin: auto;
 
  display: grid;
  grid-template-columns: repeat(3 , 1fr);
  gap: 20px;
}
.project{
  padding: 20px ;
 text-align: center;
 padding: 20px;
}
.project img{
  margin: 20px auto ;
}
.project h2{
  font-size: 1.2rem;
  font-weight: 600;
  margin: 20px auto;
}
.deployed{
  width: 80%;
  
  margin: auto;
  display: flex;
  justify-content: space-around;
  font-size: 2rem;
}